
$lincoln-green: #92C82A;
$lincoln-green2: #008A77;
$lincoln-green3: #59B691;
$lincoln-gray: #48535B;
$lincoln-blue: #0F7496;
$lincoln-lightblue:#ccd2d6;
$lincoln-purple: #6C6A80;


$gray-option1: #5d6c7b;
$blue-option1: #d1e0f2;
$blue-option2: #669cd1;
$purple-option1: #d6bad4;
$green-option1: #0f9961;