@import '../colors.scss';


.navbar-default {
    background-color: $lincoln-gray;
}


img.nav-logo {
    width: 15em;
    padding: 1em 0em 1.5em;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px; 
    border: 1px solid transparent;
}

@media screen and (min-width: 768px){
        body {
        margin-top: 15px; 
        }
}
/* #block-propertytax-account-menu {
     visibility: hidden;
}*/


// div.region-navigation a.name.navbar-brand {
//    color: white;
//    padding-top: 1.5em;
//    padding-bottom: 2em;
// }

.jumbotron {

    min-height: 35em;
    background-color: $fs-green;

    h1{
    font-size: 2em;
    }

    .lead {
        font-size: 1.5em;
    }

}

.bg-dark {
    background-color: $lincoln-gray !important;
}