
$lincoln-green: #92C82A;
$lincoln-green2: #008A77;
$lincoln-green3: #59B691;
$lincoln-gray: #48535B;


.navbar-default {
    background-color: $lincoln-gray;
}


a.logo.navbar-btn img {
    width: 25em;
    padding: 1em;
}


/* #block-propertytax-account-menu {
     visibility: hidden;
}*/


div.region-navigation a.name.navbar-brand {
   color: white;
   padding-top: 1.5em;
   padding-bottom: 2em;
}