@import '../colors.scss';


.navbar-default {
    background-color: $lincoln-gray;
}


a.logo.navbar-btn img {
    width: 25em;
    padding: 1em;
}


/* #block-propertytax-account-menu {
     visibility: hidden;
}*/


div.region-navigation a.name.navbar-brand {
   color: white;
   padding-top: 1.5em;
   padding-bottom: 2em;
}

.jumbotron {

    min-height: 30em;
    background-color: rbga($green-option1, .5);

    h1{
    font-size: 2em;
    }

    .lead {
        font-size: 1.5em;
    }

}