


article.ptc-landing-page div.content {
    margin-top:2em;
    margin-left: 3%;
    padding-left: 2em;
    max-width: 80%;
}


article.ptc-landing-page footer, article.ptc-landing-page div.content, {
   

}