/*-----------------------------------------
LAYOUT
------------------------------------------*/
.navbar-default {
  background-color: #48535B;
}

img.nav-logo {
  width: 15em;
  padding: 1em 0em 1.5em;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  body {
    margin-top: 15px;
  }
}
.jumbotron {
  display: flex;
  background-color: #ebf9f1;
}
.jumbotron .container,
.jumbotron .row-flex,
.jumbotron .col-flex {
  display: flex;
}
.jumbotron .container {
  max-width: 100%;
}
.jumbotron h1 {
  font-size: 2em;
}
.jumbotron img {
  width: 100%;
  height: auto;
}
.jumbotron .lead {
  font-size: 1.5em;
}
.jumbotron .row-flex {
  flex-direction: column;
}
@media (min-width: 768px) {
  .jumbotron .row-flex {
    flex-direction: row;
  }
}
.jumbotron .col-flex {
  flex-direction: column;
}
.jumbotron .col-flex:last-child {
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .jumbotron .col-flex:first-child {
    order: 2;
  }
}

.bg-dark {
  background-color: #48535B !important;
}

h1 {
  color: black;
}

article.ptc-landing-page div.content {
  margin-top: 2em;
  max-width: 100%;
}
@media (min-width: 768px) {
  article.ptc-landing-page div.content {
    max-width: 80%;
  }
}

article.ptc-book-page div.content h3 {
  margin-bottom: 1.5em;
}

.field--name-field-paragraph-text div {
  width: 80%;
  padding-bottom: 3em;
}

/*-----------------------------------------
Components
------------------------------------------*/
/* PTC Section & Cards */
.ptc-section-container {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #ccd2d6;
  max-width: 100%;
}
@media (min-width: 992px) {
  .ptc-section-container {
    height: 25em;
    max-width: 80%;
  }
}

/* Cards Row */
.ptc-section-container .views-row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .ptc-section-container .views-row {
    flex-direction: column;
    align-items: center;
  }
}

/* Individual cards */
.ptc-section-container div.views-col {
  margin-top: 1.5em;
  background-color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.ptc-section-container div.views-col img {
  width: 150px;
  height: 150px;
  padding: 2em 1.5em;
  margin-left: auto;
  margin-right: auto;
}
.ptc-section-container div.views-col a {
  color: #0F7496;
  font-size: large;
  font-weight: 500;
}
@media (max-width: 767px) {
  .ptc-section-container div.views-col {
    float: none;
    width: 65% !important;
  }
}
@media (min-width: 768px) {
  .ptc-section-container div.views-col {
    width: 40% !important;
  }
}
@media (min-width: 992px) {
  .ptc-section-container div.views-col {
    min-height: 300px;
    min-width: 250px;
  }
}

div.region-sidebar-first {
  background-color: rgba(72, 83, 91, 0.2);
  color: #48535B;
  font-weight: 500;
}
@media (min-width: 992px) {
  div.region-sidebar-first {
    min-height: calc(90vh - 100px);
  }
}
div.region-sidebar-first h2 {
  font-size: large;
  padding: 10px 15px;
}
div.region-sidebar-first a {
  color: black;
}
div.region-sidebar-first .nav > li > a:hover {
  background-color: #92C82A;
}
div.region-sidebar-first nav#block-centersections ul {
  display: flex;
  flex-direction: column;
  position: relative;
}
div.region-sidebar-first nav#block-centersections li {
  background-color: #48535B;
  display: none;
  order: 1;
}
div.region-sidebar-first nav#block-centersections li.active-trail {
  position: relative;
  order: 0;
  display: block;
}
div.region-sidebar-first nav#block-centersections li.active-trail:after {
  display: block;
  position: absolute;
  right: 11px;
  top: 11px;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 16px solid #000;
  border-bottom: 8px solid transparent;
  transition: 0.2s ease all;
}
div.region-sidebar-first nav#block-centersections ul.expanded li {
  display: block;
}
div.region-sidebar-first nav#block-centersections ul.expanded li:not(.active-trail) {
  position: absolute;
  z-index: 10;
  top: 100%;
  width: 100%;
}
div.region-sidebar-first nav#block-centersections ul.expanded li.active-trail:after {
  transform: rotate(90deg);
}

/* main content area*/
@media (min-width: 992px) {
  .ptc-book-page {
    min-height: calc(90vh - 100px);
    padding-bottom: 46px;
  }
}

/* bottom page navigation */
nav.ptc-page-nav-bottom {
  position: absolute;
  width: 100%;
  padding-left: 0;
  bottom: 0;
  font-size: 14pt;
}
nav.ptc-page-nav-bottom ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  padding-right: 2em;
}
nav.ptc-page-nav-bottom .previouspage {
  float: left;
}
nav.ptc-page-nav-bottom .nextpage {
  float: right;
}

/*-----------------------------------------
Visualizations
------------------------------------------*/
.visualization {
  padding: 2em 1em;
}

.showElement {
  visibility: visible;
}

/* Modal Styling */
@media (min-width: 992px) {
  .modal-content {
    min-width: 1000px;
  }
}
.modal-content .container-fluid {
  min-height: 500px;
}
.modal-content .container-fluid div.row {
  height: 100%;
  width: 100%;
}

.modal-dialog {
  margin-left: 10%;
}

.modal-input {
  position: relative;
  height: 100%;
}

.chosen-container {
  width: 200px !important;
  margin-bottom: 20px;
}

.modal-header-logo {
  width: 25%;
  height: 25%;
  margin-bottom: 3em;
}

@media (max-width: 576px) {
  .hideMobile {
    visibility: hidden;
  }
}
@media screen {
  #printSection {
    display: none;
  }
}
@media print {
  body * {
    visibility: hidden;
  }

  #printSection, #printSection * {
    visibility: visible;
  }

  #printSection {
    position: absolute;
    left: 0;
    top: 0;
  }

  .hideOnPrint {
    display: none;
  }

  .modal-header, .modal-footer, .modal-content {
    border: 0px;
  }
}
.genRevLine, .ownSourceRevLine, .ptRevLine, .avgAllCities, .ptRevLine1 {
  fill: none;
  stroke-width: 2;
  stroke: #008A77;
}

.genRevLine {
  stroke: #008A77;
}

.ownSourceRevLine {
  stroke: #386ac5;
}

.ptRevLine {
  stroke: #de772e;
}

.avgAllCities {
  stroke: #92C82A;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#ptc-tooltip {
  position: absolute;
  width: 60px;
  height: auto;
  padding: 3px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#ptc-tooltip.hidden {
  display: none;
}

#ptc-tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 12px;
}

/*# sourceMappingURL=pt-style.css.map */
