
.navbar-default {
    background-color: #48535B;
    border-color: #e7e7e7;
}


a.logo.navbar-btn img {
  width: 40%;
}


a.name.navbar-brand {
  color: white;
  font-size: 175%;
  padding-top: 2em;
  padding-bottom: 1em;
}
