 @import '../colors.scss';
     
 
    
    .genRevLine, .ownSourceRevLine, .ptRevLine, .avgAllCities, .ptRevLine1 {
        fill: none;
        stroke-width: 2;
        stroke: $lincoln-green2;
    }

    .genRevLine  {
        stroke: rgb(153, 107, 195);
    }

    .ownSourceRevLine  {
        stroke: rgb(56, 106, 197);
    }

    .ptRevLine  {
        stroke: rgb(93, 199, 76);
    }

    .avgAllCities {
        stroke: $lincoln-green;
    }












    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    // .line {
    //     fill: none;
    //     stroke: steelblue;
    //     stroke-width: 1.5px;
    // }

    // .overlay {
    //     fill: none;
    //     pointer-events: all;
    // }

    // .focus circle {
    //     fill: steelblue;
    // }

    // .focus text {
    //     font-size: 14px;
    // }

    // .tooltip {
    //     fill: white;
    //     stroke: #000;
    // }

    // .tooltip-date, .tooltip-likes {
    //     font-weight: bold;
    // }