

.visualization {

    padding: 2em 1em;

}

.showElement {
    visibility: visible;
}


/* Modal Styling */


.modal-content {
    @media (min-width: 992px) { 

        min-width: 1000px;
       
    }

    .container-fluid {
        min-height: 500px;


        div.row {

            height: 100%;
            width: 100%;
            
        }

    }

}


.modal-dialog {

    margin-left: 10%;


}

.modal-input {
    position: relative;
    height: 100%;

}

.chosen-container {
    width: 200px !important;
    margin-bottom: 20px;
}

.modal-header-logo {

    width: 25%;
    height: 25%;
    margin-bottom: 3em;

}


// Mobile

  
  @media (max-width: 576px) {
    .hideMobile {
      visibility:hidden;
    }
    
  }


// Modal Print Code

@media screen {
    #printSection {
        display: none;
    }
  }
  
  @media print {
    body * {
      visibility:hidden;
    }
    #printSection, #printSection * {
      visibility:visible;
    }
    #printSection {
      position:absolute;
      left:0;
      top:0;
    }
    .hideOnPrint{
        display:none;
    }

    .modal-header, .modal-footer, .modal-content {

        border: 0px;

    }
  }


  
  