@import '../colors.scss';


div.region-sidebar-first {
    
   

        background-color: $lincoln-lightblue;

        @media (min-width: 992px) { 
 
            min-height: 800px;

        }
        
        h2 {
            font-size: large;
            padding: 10px 15px;
        }

        a {

            color:black;


        }


        nav#block-centersections {
            ul {
                display: flex;
                flex-direction: column;
            }
            li{

                display: none; 
                order: 1;
                &.active-trail {
                    position: relative;
                    order: 0;
                    display: block;
                    &:before {
                        width: 0;
                        height: 0;
                        border-left: 50px solid transparent;
                        border-right: 50px solid transparent;
                        border-top: 100px solid red;
                    }
                }

            }

            ul.expanded {

                li {
                    &:not(.active-trail) {
                        position: absolute;
                        z-index: 10;
                        top: 100%;
                        background-color: #eeeeee;
                        width: 100%;
                    }
                    display: block;
                }
            }
        }








}