@import '../colors.scss';

/* PTC Section & Cards */


.ptc-section-container {
    color: white;
    font-size: medium;
    margin-top:2em;
    margin-bottom: 2em;
    max-width: 100%;

    @media (min-width: 992px) {
        height: 25em;
        max-width: 80%;
    }
}

/* Cards Row */
.ptc-section-container .views-row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }
}

/* Individual cards */
.ptc-section-container div.views-col {

    margin-top: 1.5em;
    background-color: rgba($lincoln-gray, .8);
    padding: 1.5em .5em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    

    img {
        width: 150px;
        height: 150px;
        padding: 2em 1.5em;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        color: white;
        font-size: x-large;
    }
    @media (max-width: 767px) {
        float: none;
        width: 65% !important;
    }
    @media (min-width: 768px) {
        width: 40% !important;
    }
    @media (min-width: 992px) { 
        min-height: 300px;
        min-width: 250px;

    }

    

}


