@import '../colors.scss';


div.region-sidebar-first {
    
   

        background-color: rgba($lincoln-gray,.2);
        color: $lincoln-gray;
        font-weight: 500;

        

        @media (min-width: 992px) { 
 
            min-height: calc(90vh - 100px);

        }
        
        h2 {
            font-size: large;
            padding: 10px 15px;
        }

        a {

            color:black;


        }


        nav#block-centersections {
            ul {
                display: flex;
                flex-direction: column;
                position: relative;
            }
            li{

                display: none; 
                order: 1;
                &.active-trail {
                    position: relative;
                    order: 0;
                    display: block;
                    &:after {
                        display: block;
                        position: absolute;
                        right: 11px;
                        top: 11px;
                        content: "";
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-left: 16px solid #000;
                        border-bottom: 8px solid transparent;
                        transition: .2s ease all;
                    }
                }

            }

            ul.expanded {

                li {
                    &:not(.active-trail) {
                        position: absolute;
                        z-index: 10;
                        top: 100%;
                        background-color: #eeeeee;
                        width: 100%;
                    }
                    &.active-trail {
                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                    display: block;
                }
            }
        }








}