@import '../colors.scss';


div.region-sidebar-first {
    
    #block-explorethedata, #block-learn {

        background-color: $lincoln-lightblue;

        @media (min-width: 992px) { 
 
            min-height: 600px;

        }
        
        h2 {
            font-size: large;
            padding: 10px 15px;
        }

        a {

            color:black;


        }


    }
}