@import '../colors.scss';


/* main content area*/

.ptc-book-page {


    @media (min-width: 992px) { 
 
        min-height: calc(90vh - 100px);
        padding-bottom: 46px;

    }

}

/* bottom page navigation */

nav.ptc-page-nav-bottom {
    position: absolute;
    width: 100%;
    padding-left: 0;
    bottom: 0;
    font-size: 14pt;

    ul {

        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        padding-right: 2em;

    }

    .previouspage {
        float:left;
    }

    .nextpage {
        float:right;
    }


}


.ptc-row-flex,
.ptc-col-flex {
    display: flex;
}


.ptc-row-flex {
    flex-direction: column;
    margin-right: 0;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.ptc-col-flex {
    flex-direction: column;

    &:last-child {
  
        width:100%;

    }

}