@import '../colors.scss';


/* main content area*/

.content {

    

    @media (min-width: 992px) { 
 
        min-height: 600px;

    }

}

/* bottom page navigation */

.ptc-page-nav-bottom {
    background-color: $lincoln-blue;
    position: absolute;
    width: 100%;
    bottom: 0;
    a {
    color: white;
    }
    ul {

        display: flex;
        justify-content: space-between;
        list-style: none;
    }
}